*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: white;
}
.hero{
    width: 100%;
    height: 100vh;
 
   background-image: linear-gradient(#00549E);
padding:0. 5%;
position: relative;
display: flex;
align-items: center;
justify-content: center;


}
nav{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav .logo{
    width: 50px;
    height: 50px;
}
nav ul li {
    display: inline-block;
    color: orange;
    margin-left: 40px;
    cursor: pointer;
    opacity: 0.8;
    line-height: inherit; 
    list-style: none;
}
nav ul li a{
    color: orange;
    opacity: 0.8;
    
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

nav ul li a:hover  {
    color: white; 
}

nav ul li .home{
    color: white;
}
nav ul li .aboutus{
    color: white;
}

.con .text{
    display: flex;
margin-bottom: 20px;
margin-left: 100px;
}

.con .text .h1{
    width: 35px;
}
.con .end {
    display: flex;
    margin-top: 20px;
    margin-left: 190px;
}
.con .end .h1{
    width: 35px;
}
.con h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.con{
    text-align: center;
    animation:slideUp  0.5s ease-in-out ;
}
.con a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid orange;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s linear;
}
.con a:hover {
background: orange;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    70%{
      opacity: 1;
      transform: translateY(-15%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media (max-width: 1100px){
    .back-video{
       
        opacity: 0;
        
    }
    .con h1{
        font-size: 25px;
       
    }
    .con .text{
        margin-left: 150px;
    }
    .hero{
        background: #00549E;
    }
}
